[submodule "selfconnect"]
	path = selfconnect
	url = https://github.com/rblake2320/selfconnect.git
[submodule "omni-swarm"]
	path = omni-swarm
	url = https://github.com/rblake2320/omni-swarm.git
[submodule "airgap-sop"]
	path = airgap-sop
	url = https://github.com/rblake2320/airgap-sop.git
[submodule "a-site-to-remember"]
	path = a-site-to-remember
	url = https://github.com/UncNeph/a-site-to-remember.git
[submodule "patent-portfolio"]
	path = patent-portfolio
	url = https://github.com/rblake2320/patent-portfolio.git
[submodule "VidIntel"]
	path = VidIntel
	url = https://github.com/rblake2320/vidintel.git
[submodule "agentforge"]
	path = agentforge
	url = https://github.com/rblake2320/agentforge.git
[submodule "claudego-standalone"]
	path = claudego-standalone
	url = https://github.com/rblake2320/claudego.git
[submodule "testforge"]
	path = testforge
	url = https://github.com/rblake2320/testforge.git
[submodule "ultra-computer"]
	path = ultra-computer
	url = https://github.com/rblake2320/ultra-computer.git
[submodule "acq-copilot"]
	path = acq-copilot
	url = https://github.com/rblake2320/acq-copilot.git
[submodule "QuoteHub"]
	path = QuoteHub
	url = https://github.com/rblake2320/quotehub.git
[submodule "FlowBoard"]
	path = FlowBoard
	url = https://github.com/rblake2320/flowboard.git
[submodule "unc_neph_src"]
	path = unc_neph_src
	url = https://github.com/rblake2320/unc-neph-site.git
